body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #ff92e4;
    padding: 20px;
    text-align: center;
    color: azure;
}

a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding: 20px;
    text-align: center;
    border: 1px solid #72bdfa;
    box-shadow: 0 0 10px #baaeff;
}

nav ul li{
    display: inline;
    margin: 20px;
}

nav ul a:hover {
    text-decoration: underline;
    color: tomato;
}

section{
    margin: 30px;
    border: 5px solid #72bdfa;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 0 10px #baaeff
}

footer{
    background-color: #ad5b99;
    padding: 10px;
    text-align: center;
}